@charset "utf-8";

.title {
  flex: none;
  margin-bottom: 32px;
}

.action-wrap {
  flex: none;
  padding: 33px 0 20px;
}

.edit-ipt {
  width: 196px;
  margin-right: 40px;

  :deep(.el-input__wrapper) {
    border-radius: 16px;
  }
}

.table-wrap {
  flex: auto;
  height: 0;
}

.table {
  box-shadow: 0 0 1px 1px #e1e1e1;
}

:deep(.table-v2-inline-editing-trigger) {
  border: 1px transparent dotted;
  padding: 4px;

  &:hover {
    border-color: var(--el-color-primary);
  }
}

:deep(.el-table-v2__row) {
  &:nth-child(odd) {
    background-color: #f1f1f1;
  }
  // &:nth-child(even) {
  // }
}
