@charset "utf-8";

.sidebar-wrap {
  width: 200px;
  height: 100%;
  padding: 20px 0;
  border-right: 2px solid #e8e8e8;
  background-color: #f8f8f8;
}

.side-menu {
  width: 100%;
  height: 100%;
  border-right: none;
  background-color: #f8f8f8;
}

.menu-name {
  width: 100%;
  white-space: wrap;
  line-height: 20px;
}
