@charset "utf-8";

.layout-toolbar-wrap {
  flex: none;
}

.layout-body-wrap {
  flex: auto;
  height: 0;
}

.layout-sidebar-wrap {
  flex: none;
}

.layout-content-wrap {
  flex: auto;
  width: 0;
}
